body {
  margin: 0;
  padding: 0;
  background-color: #003f5c;
  overflow: hidden;
  -webkit-animation-name: bg-ani; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 7s; /* Safari 4.0 - 8.0 */
  animation-name: bg-ani;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: ease-in-out;
}
* {
  box-sizing: border-box;
}
.main-wrapper {
  max-width: 1170px;
  margin: 0 auto;
  padding: 15px;
  position: relative;
  height: 100vh;
}
.inner-content {
  width: 200px;
  display: block;
  margin: 0 auto;
  position: relative;
  text-align: center;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 12s; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: ease-in-out;
}
.wheel {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  display: inline-block;
  margin: 0 auto;
  border: 3px solid #1b1a1a;
  position: relative;
  top: -7px;
  -webkit-animation-name: wheel-ani; /* Safari 4.0 - 8.0 */
  animation-name: wheel-ani;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-timing-function: linear;
}
.wheel::before,
.wheel::after {
  content: "";
  width: 16px;
  height: 1px;
  background-color: red;
  display: inline-block;
  position: absolute;
  left: 2px;
  transform: rotate(45deg);
  transform-origin: 0 0;
  top: 1px;
}
.wheel::after {
  content: "";
  transform: rotate(-45deg);
  top: 12px;
}
.car {
  background-color: #b6c33e;
  height: 15px;
  display: block;
  width: 70px;
  margin: 0 auto;
  position: relative;
}
.car::before {
  background-color: #f3f318;
  content: "";
  width: 10px;
  height: 2px;
  display: inline-block;
  position: absolute;
  left: 2px;
  top: 2px;
}
.bonute {
  height: 16px;
  background-color: #b6c33e;
  width: 40px;
  margin: 0 auto;
  display: flex;
  padding-top: 3px;
  justify-content: space-between;
}
.bonute span {
  width: 18px;
  display: inline-block;
  background-color: #f6d8af;
}
.inner-content.car2 {
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  margin-left: 0;
  margin-left: auto;
  animation-direction: alternate;
}
@keyframes example {
  from {
    transform: translateX(300px);
  }
  to {
    transform: translateX(-250px);
  }
}
.line-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
}
.line {
  height: 100%;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.15);
  position: relative;
}
.circle {
  position: absolute;
  top: 0;
  width: 10px;
  height: 10px;
  display: inline-block;
  left: -4px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.45);
  border-radius: 50%;
  -webkit-animation-name: circle-ani; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 12s; /* Safari 4.0 - 8.0 */
  animation-name: circle-ani;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: ease-in-out;
}
.line:nth-child(2) .circle {
  -webkit-animation-duration: 16s; /* Safari 4.0 - 8.0 */
  animation-duration: 16s;
}
.line:nth-child(3) .circle {
  -webkit-animation-duration: 20s; /* Safari 4.0 - 8.0 */
  animation-duration: 20s;
}
.line:nth-child(4) .circle {
  -webkit-animation-duration: 23s; /* Safari 4.0 - 8.0 */
  animation-duration: 23s;
}
@keyframes circle-ani {
  from {
    top: 0;
  }
  to {
    top: 100vh;
  }
}
@keyframes bg-ani {
  0% {
    background-color: #e15249;
  }
  25% {
    background-color: #58508d;
  }
  50% {
    background-color: #bc5090;
  }
  75% {
    background-color: #ff6361;
  }
  75% {
    background-color: #003f5c;
  }
}
@keyframes wheel-ani {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
